/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require fakeloader
 *= require_self
 */

body {
  font-family: 'Roboto', sans-serif;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

h2 {
  color: #1da1f2;
}

.toptweets {
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
  color: #8c9aa3;
}

a {
  text-decoration: none;
  color: inherit;
}

.headline {
  font-weight: bold;
}

.spaced {
  padding-bottom: 15px;
}

.title, .user:hover {
  color: #61b7ec;
}
