.hashtags {
  margin-top: 10px;
  width: 23%;
  float: right;
  text-align: right;
}

.news {
  width: 75%;
  float: left;
  border-style: dashed;
  border-width: 0 1px 0 0;
  padding-right: 10px;
}

.newsletter {
  padding: 3%;
  border-style: solid;
  border-width: 1px;
}
