<% content_for :title, "Home" %>
<% content_for :description, "a community of Twitter users" %>

<h1>GroupThink</h1>

<div class='index'>
  <div class='input'>
    <input class='biginput' type='text' id='username' placeholder='Twitter User'></input>
  </div>
  <div class='input'>
    <input class='biginput' type='text' id='name' placeholder='List Name'></input>
  </div>
  <div class='input'>
    <button class='biginput' type='submit' id='submit'>Go!</button>
  </div>
</div>
